.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

input {
  background: none;
  outline: none;
  padding: 10px;
  border: 1px solid #fafafa92;
  border-radius: 8px;
  color: #fafafa;
}
input::placeholder {
  color: white;
}
input:active {
  color: #fff;
}

a img {
  width: 80px;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

@media screen and (max-width:600px) {
  .notification{
    width: auto;
    overflow-x: hidden;
  }
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
p {
  padding: 10px 0;
}
